In this notebook, data of cocktails are streamed using API of TheCocktailDB.com. The API enables listing the cocktails by first letter. Therefore, listings for all alphanumerical characters have been done.

In [ ]:
import requests
import pandas as pd
import string

In [ ]:
#The first 36 caharacters are the list of alphanumerical
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [ ]:
def create_url_list():

  url_list = []
  main_url = 'https://www.thecocktaildb.com/api/json/v1/1/search.php?f='

  for i in (string.printable[:36]):

    url_list.append(main_url+i)

  return url_list

In [ ]:
url_list = create_url_list()

In [ ]:
def get_ingredients(cocktail_dict):

  ingredient = cocktail_dict['strIngredient1']
  i = 2

  ingredient_list = ""

  while ingredient:

    ingredient_list = ingredient + ", " + ingredient_list
    ingredient = cocktail_dict['strIngredient'+str(i)]
  
    i = i+1

  return ingredient_list

In [ ]:
cocktails_list = []

for url in url_list:

  r = requests.get(url)


  if r.json()['drinks']:

    for cocktail_dict in r.json()['drinks']: 

      cocktail = {}
      cocktail['Cocktail Name'] = cocktail_dict['strDrink']
      cocktail['Ingredients'] = get_ingredients(cocktail_dict)
      cocktail['Preparation'] = cocktail_dict['strInstructions']

      cocktails_list.append(cocktail)

In [ ]:
cocktail_df = pd.DataFrame(cocktails_list)

In [ ]:
cocktail_df.to_csv('cocktails_db.csv', index=False)

In [ ]:
cocktail_df

                Cocktail Name  ...                                        Preparation
0                 155 Belmont  ...  Blend with ice. Serve in a wine glass. Garnish...
1              1-900-FUK-MEUP  ...  Shake ingredients in a mixing tin filled with ...
2            110 in the shade  ...              Drop shooter in glass. Fill with beer
3      151 Florida Bushwacker  ...  Combine all ingredients. Blend until smooth. G...
4                         252  ...  Add both ingredients to shot glass, shoot, and...
..                        ...  ...                                                ...
421              Zima Blaster  ...  Fill glass with ice. Pour in Chambord, then fi...
422            Zizi Coin-coin  ...  Pour 5cl of Cointreau on ice, add 2cl of fresh...
423           Zippy's Revenge  ...  Mix Kool-Aid to taste then add Rum and ammaret...
424           Zimadori Zinger  ...  Pour Zima in a collins glass over ice and then...
425  Ziemes Martini Apfelsaft  ...  Serve without ice. At least the juice shold ha...

[426 rows x 3 columns]

In [ ]:
cocktails_df1 = pd.read_csv('cocktails.csv')
cocktails_df2 = pd.read_csv('cocktails_db.csv')

In [ ]:
cocktails_df1

                 Cocktail Name  ...                                             Notes
0               Flor de Amaras  ...                                               NaN
1              The Happy Place  ...  Junipero Gin 20th Anniversary Signature Cocktail
2       Bon Voyage Pisco Punch  ...                                               NaN
3    Still Life of a Pineapple  ...                                               NaN
4          The Bittered Valley  ...                                               NaN
..                         ...  ...                                               ...
682         The Negroni Bianco  ...                                               NaN
683           Match Grip Julep  ...                                               NaN
684             The Dry Cruise  ...                                               NaN
685                   Red Hook  ...                                               NaN
686                 Union Jack  ...                                               NaN

[687 rows x 9 columns]

In [ ]:
cocktails_df2

                Cocktail Name  ...                                        Preparation
0                 155 Belmont  ...  Blend with ice. Serve in a wine glass. Garnish...
1              1-900-FUK-MEUP  ...  Shake ingredients in a mixing tin filled with ...
2            110 in the shade  ...              Drop shooter in glass. Fill with beer
3      151 Florida Bushwacker  ...  Combine all ingredients. Blend until smooth. G...
4                         252  ...  Add both ingredients to shot glass, shoot, and...
..                        ...  ...                                                ...
421              Zima Blaster  ...  Fill glass with ice. Pour in Chambord, then fi...
422            Zizi Coin-coin  ...  Pour 5cl of Cointreau on ice, add 2cl of fresh...
423           Zippy's Revenge  ...  Mix Kool-Aid to taste then add Rum and ammaret...
424           Zimadori Zinger  ...  Pour Zima in a collins glass over ice and then...
425  Ziemes Martini Apfelsaft  ...  Serve without ice. At least the juice shold ha...

[426 rows x 3 columns]

In [ ]:
concat_df = pd.concat([cocktails_df1, cocktails_df2], axis=0)

In [ ]:
concat_df['Cocktail Name'].describe()

count        1113
unique       1093
top       Negroni
freq            3
Name: Cocktail Name, dtype: object